:host {
  display: block;
  max-width: 500px;

  .total-count {
    font-weight: bold;
    padding: 10px 0;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
    margin-bottom: 10px;
  }

}

